.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
}

.avatar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las imágenes horizontalmente */
}

.avatar-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* Agregamos una transición para suavizar el efecto */
}

.avatar-image:hover {
  transform: scale(
    1.1
  ); /* Ajusta el valor según tu preferencia para el efecto de escala */
  cursor: pointer;
}
