.container-preguntas button.correct {
  background-color: lightblue; /* Celeste para la opción correcta */
  color: #000;
  border: 2px solid #000;
}

.container-preguntas button.incorrect {
  background-color: red; /* Rojo para la opción incorrecta */
  color: #fff; /* Texto blanco para mejor contraste */
}

.container-preguntas {
  width: 700px;
  margin: auto;
  margin-top: 150px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
  text-align: center;
}

.container-preguntas h2 {
  font-size: 27px;
  font-weight: 500;
}

.container-preguntas div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pregunta {
  font-family: Poppins;
}

.container-preguntas button.alternative-button {
  font-family: "Poppins", sans-serif;
  flex: 1;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  font-size: 20px;
  cursor: pointer;
}

.container-preguntas .siguiente {
  margin-top: 20px;
  font-family: "Boogaloo", cursive;
  align-self: center;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s;
}

.container-preguntas .siguiente:hover {
  background-color: #1c7cd6;
}

.container-preguntas button {
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-preguntas button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}
.container-preguntas button.correct {
  background-color: green; /* Celeste para la opción correcta */
  color: #000;
  border: 2px solid #000;
}

.container-preguntas button.incorrect {
  background-color: red; /* Rojo para la opción incorrecta */
  color: #fff; /* Texto blanco para mejor contraste */
}
.imgresults {
  width: 150px; /* Ancho mediano */
  height: auto; /* Altura automática para mantener la proporción */
}
