body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg);

  /* Otros estilos */
}

/* Agrega tus otros estilos según sea necesario */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

